  # Challenge

  ## Identifying Outliers using Standard Deviation

In [1]:
# initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine
import os

In [5]:
# create a connection to the database
password=os.getenv('PGAdmin_PW')
#engine = create_engine("postgresql://postgres:{password}#@localhost:5432/Transactions").format


engine= ('postgresql://{username}:{PGAdmin_PW}#@{ipaddress}:{port}/{dbname}'
         .format(username='postgres',
                 password=os.getenv('PGAdmin_PW'),
                 ipaddress='localhost',
                 port='5432',
                 dbname='Transactions')
        )

In [6]:
query = "SELECT * FROM total_transactions"

In [7]:
fraud_transaction_df = pd.read_sql(query, engine)
fraud_transaction_df.head()

,name,date,amount,card,cc_id,Credit Card,id_merchant,Merchant,merchant category
0,John Martin,2018-01-01 21:35:10,6.22,3561954487988605,13,3561954487988605,69,Dominguez PLC,food truck
1,John Martin,2018-01-01 21:43:12,3.83,5135837688671496,13,5135837688671496,85,Patton-Rivera,bar
2,Matthew Gutierrez,2018-01-01 22:41:21,9.61,213193946980303,10,213193946980303,82,Day-Murray,food truck
3,Danielle Green,2018-01-01 23:13:30,19.03,4263694062533017,4,4263694062533017,5,Miller-Blevins,pub
4,Malik Carlson,2018-01-01 23:15:10,2.95,4498002758300,18,4498002758300,64,"Cline, Myers and Strong",restaurant

In [8]:
# code a function to identify outliers based on standard deviation
def transactions(cc_id):
    return fraud_transaction_df.loc[fraud_transaction_df['cc_id']==cc_id, 'amount']

def outliers(cc_id):
    fraud_transaction_df2 = transactions(cc_id)
    return pd.DataFrame(fraud_transaction_df2[fraud_transaction_df2> fraud_transaction_df2.mean(
    )+3*fraud_transaction_df2.std()])

In [9]:
# find anomalous transactions for 3 random card holders
rand_card_holders = np.random.randint(1,25,3)

for cc_id in rand_card_holders:
    if len(outliers(cc_id)) == 0:
        print(f"Credit Card {cc_id} is within acceptable limits.")
    else:
        print(f"Credit Card {cc_id} has anomolies listed below:\n{outliers(cc_id)}.")

Credit Card 24 has anomolies listed below:
      amount
797   1011.0
1260  1901.0
3405  1301.0
3433  1035.0.
Credit Card 19 is within acceptable limits.
Credit Card 24 has anomolies listed below:
      amount
797   1011.0
1260  1901.0
3405  1301.0
3433  1035.0.

  ## Identifying Outliers Using Interquartile Range

In [47]:
# code a function to identify outliers based on interquartile range

In [14]:
# find anomalous transactions for 3 random card holders